<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card text-center">
  <div class="card-header">
    {{bikes.bike_name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{bikes.company_name}}</h5>
    <p class="card-text">
        {{bikes.locaton}}
    </p>
          <p class="card-text">
              {{bikes.model}}
          </p>
          <p class="card-text">
              {{bikes.killometer_run}}
          </p>
          <p class="card-text">
              {{bikes.price}}
          </p>


  </div>
</div>

</body>
</html>